
.antCardBody {
    padding: 9px;
    zoom: 1;
}

.cardTitle {
    position: relative;
}

.cardTitle h3 {
    width: 70%;
    font-size: 14px;
    color: #313131;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    word-break: keep-all;
}

.cardTitle .tag {
    display: block;
    width: 60px;
    font-size: 12px;
    text-align: right;
    color: #f60;
    position: absolute;
    right: 0;
    top: 0;
}

.loginFormButton {
    width: 100%;
}

.loginFormForgot {
    float: right;
}

/**
Home Css Start
 */
.channel {
    width: 1200px;
    height: 630px;
    padding-top: 20px;
    margin: 0 auto;
    position: relative;
    z-index: 2
}

.videoArea {
    position: relative;
    float: left;
    width: 1008px;
    height: 610px;
    background: #333;
}

.items {
    float: right;
    width: 170px;
    padding: 5px 10px 0;
    height: 605px;
    background: #333;
    border-radius: 4px;
}

.items li {
    width: 166px;
    height: 94px;
    margin-top: 5px;
    float: left;
    position: relative;
}

.items li .pic {
    width: 155px;
    height: 94px;
    position: absolute;
    top: 0;
    left: -42px;
    overflow: hidden;
    border: 2px solid transparent;
}

.items li .pic img {
    width: 100%;
    height: 100%;
    border-radius: 2px;
}

.txt {
    display: none;
    width: 155px;
    height: 24px;
    position: absolute;
    top: 0;
    left: -42px;
    border: 2px solid transparent;
}

.txt:hover {
    width: 155px;
    height: 94px;
    position: absolute;
    top: 0;
    left: -42px;
    overflow: hidden;
    border: 2px solid #ff6600;
    border-radius: 2px;

}

.txt span {
    max-width: 140px;
    background: #868686;
    background-color: rgba(0, 0, 0, 0.5);
    height: 24px;
    margin: 2px 2px 0 0;
    padding: 0 5px;
    overflow: hidden;
    color: #fff;
    float: right;
    text-align: right;
    white-space: nowrap;
}

/**
Home Css End
 */

/**
personalInfo Css Start
 */
.liveWrap {
    width: 1000px;
    margin: 0 auto 25px;
    padding-top: 30px;
}

.uHeader {
    height: 50px;
    margin-bottom: 20px;
    border-bottom: 2px #ebebeb solid;
}

.uHeader h1 {
    width: 167px;
    height: 50px;
    font-size: 30px;
    color: #555;
    border-bottom: 2px #ff8f2b solid;
    text-align: center;
}

.uMainbody {
    width: 812px;
    float: left;
    padding-left: 20px;
    background: #fff;
    color: #737373;
    position: relative;
}

/**
personalInfo Css End
 */

/**
myInfo Css Start
 */

.myInfoHeader {
    margin-bottom: 34px;
    width: 100%;
    background: #f5f5f5;
}

.myInfoHeader span {
    display: block;
    float: left;
    margin: 10px 0;
    height: 20px;
    width: 20px;
    margin-left: 20px;
    color: #ff6600;
}

.myInfoHeader p {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    margin-left: 10px;
    color: #555555;
}

.myInfoMain {
    padding-top: 0;
}

.userInfo {
    background: #fff;
    width: 755px;
    margin: 0 auto 30px;
}

.userImg {
    height: 120px;
    width: 120px;
    margin-right: 10px;
    position: relative;
    float: left;
    display: inline;
}

.uploadImg {
    height: 120px;
    width: 120px;
    margin-right: 10px;
    background: #00bcd4bf;
    position: absolute;
    float: left;
    display: none;
    opacity: 0.8;
}

.upload {
    text-align: center;
    font-size: 15px;
    margin-top: 40px;
    color: white;
}

.upload i {
    font-size: 30px;
}

.userImg img {
    height: 120px;
    width: 120px;
}

.detailInfo {
    margin-top: 2px;
    display: inline;
    float: left;
}

.infoLeft {
    display: inline;
    float: left;
}

.username {
    position: relative;
    float: left;
    margin-right: 10px
}

.username h2 {
    max-width: 237px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bold;
    font-size: 14px;
    color: #333333;
}

.updateUsername {
    float: left;
    padding-top: 5px;
}

.updateUsername i {
    display: block;
    margin-right: 4px;
    float: left;
    width: 20px;
    height: 20px;
    color: #ff6600;
}

.rank {
    position: relative;
    margin-top: 8px;
    width: 100%;
    height: inherit;
    font-size: 0;
    z-index: 10;
    float: left;
}

.rank_title {
    display: block;
    font-size: 12px;
    font-weight: bold;
    color: #333;
}

.user_lever {
    display: inline-block;
    float: left;
    margin: 13px 5px 0 0;
    font-size: 12px;
    font-weight: bold;
    color: #333;
}

.bar {
    width: 144px;
    height: 9px;
    background: #fff;
    display: inline-block;
    position: relative;
    line-height: 24px;
    margin: 10px 5px 0 0;
    white-space: nowrap;
}

.bar_percent {
    margin-top: 7px;
    padding-right: 10px;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    color: #555555;
}

.mobile_email {
    margin: 40px 20px 0;
    width: 755px;
    display: inline-block;
}

.mobile_email_title {
    display: inline-block;
}

.mobile_email_title p {
    height: 16px;
    line-height: 16px;
    font-size: 16px;
    margin-right: 9px;
    font-weight: bold;
    color: #333333;
    display: inline;
    float: left;
}

.user_check_list {

}

.user_check_detail_left {
    width: 340px;
    border-bottom: 1px solid #ececec;
    padding: 25px 0;
    margin: 0 70px 0 -40px;
    display: inline;
    float: left;
}

.user_check_detail {
    width: 340px;
    border-bottom: 1px solid #ececec;
    padding: 25px 0;
    display: inline;
    float: left;
}

.user_check_img {
    width: 35px;
    height: 35px;
    display: inline;
    float: left;
}

.user_check_message {
    width: 225px;
    height: 40px;
    display: inline;
    float: left;
}

.user_check_message p {
    font-size: 12px;
    color: #000;
    height: 10px;
    width: 100%;
}

.user_check_link {
    display: block;
    width: 78px;
    height: 28px;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 14px;
    font-size: 12px;
    color: #555555;
    text-align: center;
    line-height: 28px;
    float: left;
}

.avatarMain {
    position: relative;
    background: #f5f5f5;
    padding: 0 20px 35px 20px;
    height: 300px;

}

.avatar {
    width: 220px;
    margin-right: 30px;
    float: left;
    display: inline;
}

.avatar img {
    border-radius: 50%;
    margin-top: 41px;
}

.avatarSelect {
    width: 466px;
    float: left;
    margin-top: 91px;
    padding-left: 90px;
}

.antUploadText {
    margin: 20px;
}

/**
myInfo Css End
 */

/**
myFollow Css Start
 */
.box {
    padding: 10px;
    background: #f7f7f7;
    height: 120px;
    margin-bottom: 16px;
}

.fPic {
    position: relative;
    float: left;
}

.fPic img {
    width: 174px;
    height: 98px;
}

.fInfo {
    padding-left: 10px;
    font-size: 12px;
    width: 189px;
    overflow: hidden;
    float: left;
}

.fInfo h1 {
    font-size: 16px;
    margin-bottom: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.fInfo p {
    color: #7e7e7e;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 20px;
}

/**
myFollow Css End
 */